.header {
	background-color: gray;
	height: 5rem;
}
.footer {
	clear: both;
	background-color: gray;
	height: 5rem;
}
.mainContainer {
	width:100%;
}
.cardContainer {
	height: 30rem;
	width:80%;
	background-color: red;
	float: left;
}
.left {
	float: left;
	background-color: black;
	width: 10%;
	height: 30rem;
}
.right {
	float: left;
	background-color: black;
	width: 10%;
	height: 30rem;
}