@media (min-width: 1025px){
	html {
		width: 100%;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
@media (max-width: 1024px){
	html {
		width: 1024px;
	}
}

body {
	width: 100%;
	background-color: black;
}

.header {
	background-color: black;
	height: 115px;
	width:100%;
	z-index: -1;
}
.headerBlock {
	height: 75px;
	width: 75px;
	background-color: white;
	position:absolute;
	display: inline-block;
    z-index:1;
}
.headerBlock img {
	border-radius: 15px;
	border: 2px solid white;
}
.footer {
	clear: both;
	background-color: black;
	height: 115px;
	width: 100%;
}
.mainContainer {
	height:438px;
	width:100%;
}
.cardContainer {
	height: 100%;
	background-color: black;
	float: left;

}
.card {
	background-size: 400px 279px;
	background-color: black;
	border-radius: 23px;
	position: relative;
	top:80px;
	left:200px;
	
}
.spatialCard {
	background-size: 400px 279px;
	background-color: black;
	border-radius: 23px;
	position: relative;
	top:135px;
	margin-left: 6px
	
}
.float {
	float: left;
	background-color: black;
	width: 102px;
	height: 438px;
}

.modal-dialog {
	position: relative;
	top: 100px;
	height: 510px;
	width: 435px;
} 
.modal-content {
	height: 410px;
	width: 435px;
	overflow-y: scroll;
	

}
.counterText {
	position: relative;
	font-size: 60px;
	left: 20px;
	top: -7px;
	color: white;

}
#counter {
    left:475px;
    top:20px;
    border-radius: 15px;
    z-index: 2;
    border: 2px solid white;
    background: black;
}

#dice {
	border-radius: 15px;
    left:275px;
    top:20px;
    opacity: 1;
}

#pw {
	border-radius: 15px;
	left: 675px;
	top: 20px;
	background-color: transparent;
	position: absolute;
	display: inline-block;
    z-index:1;
}

#counterTop {
	background-color: transparent;
	width: 75px;
	height: 38px;
	z-index: 3;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: top;
}

#counterBot {
	background-color: transparent;
	width: 75px;
	height: 37px;
	z-index: 3;
	position: absolute;
	left: 0px;
	top: 38px;
	text-align: bottom;
}

.selected {
	color: #34FA38;
}

ul > li {
	color: red;
	font-size: 18px;
}

label {
	cursor: pointer;
}

.cardList {
	color: white;
	background-color: black;
	padding-top: 6px;


}

.startContainer {
	background-color: black;
	height: 350px;
	width: 400px;
	border-radius: 15px;
	position: fixed;
	top: 50px;
	left: 350px;
	z-index: 1;
}


.startCard img{
	border-radius: 21px
}

.startFooter {
	height: 32px;
	width: 400px;
	background-color: black;
	margin-top: 5px;
}


.selectedLength {
	display: inline-block;
	height: 32px;
	width: 150px;
}

.startBtn {
	text-align: center;
	font-size: 28px;
	background-color: #34FA38;
	cursor: pointer;
	border-radius: 5px;
	border: 2px outset #34FA30;
}

.deckSize {
	text-align: center;
	font-size: 23px;
	background-color: black;
	color: white;
}

.counterSymb {
	text-align: center;
	font-size: 18px;
	margin-right: 7px;
	font-weight: bolder;
}

.leftBtn {
	width: 102px;
	display: block;
	font-size: 18px;
	background-color: #BFBFBF;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px outset;
}

.cardsRem {
	color: white;

}