html {
	height: 768px;
	width: 1024px;
}
body {
	height: 768px;
	width: 1024px;
}
.header {
	background-color: gray;
	height: 115px;
	width:1024px;
	z-index: -1;
}
.headerBlock {
	height: 75px;
	width: 75px;
	background-color: white;
	position:absolute;
	display: inline-block;
    z-index:1;
}
.footer {
	clear: both;
	background-color: gray;
	height: 115px;
	width: 1024px;
}
.mainContainer {
	height:538px;
	width:1024px;
}
.cardContainer {
	height: 538px;
	width:820px;
	background-color: white;
	float: left;
}
.card {
	background-size: 400px 279px;
	background-color: black;
	border-radius: 23px;
	position: relative;
	top:135px;
	left:200px;
	
}
.spatialCard {
	background-size: 400px 279px;
	background-color: black;
	border-radius: 23px;
	position: relative;
	top:135px;
	margin-left: 6px
	
}
.float {
	float: left;
	background-color: black;
	width: 102px;
	height: 538px;
}

.modal-dialog {
	position: relative;
	top: 100px;
	height: 510px;
	width: 435px;
} 
.modal-content {
	height: 410px;
	width: 435px;
	overflow-y: scroll;
	

}

#counter {
    left:350px;
    top:20px;
}

#dice {
    left:150px;
    top:20px;
}
