<!DOCTYPE html>
<html ng-app="planarApp">
  <head>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-controller="cardCtrl">
  	<div class="header">
      <div class="headerBlock" ng-click="roll()">
        <img ng-src="./Media/dice/{{dieFace}}.jpeg"/>
  	  </div>
       {{planarDeck.length}} prevCards: {{prevCards.length}}
    </div>
  	<div class="mainContainer" >
  	  
      

      <div class="float">
        <button class="btn" ng-click="viewPrevModal()">Prev.</button>
       <!--  <button class="btn" ng-click="viewCurrent()">Current</button> -->
      </div>

  	  <div class="cardContainer">
        <img class="card" ng-show="!hideSpatial" ng-src="./Media/{{planarDeck[0].cardID}}.jpeg"/>
        
        <img class="spatialCard" ng-show="hideSpatial" ng-src="./Media/{{planarDeck[0].cardID}}.jpeg"/>
        <img class="spatialCard" ng-show="hideSpatial" ng-src="./Media/{{planarDeck[1].cardID}}.jpeg"/>
        
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" ng-click="hidePrevModal()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <h4 class="modal-title">Previous Planes Since Shuffle</h4>
               </div>
               <div class="modal-body" ng-repeat="card in prevCards track by $index">             
                 <img ng-src="./Media/{{card.cardID}}.jpeg"/>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="prevModal" ng-click="hidePrevModal()">Close</button>
               </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <!-- <div class="modal fade" id="intTunnel">
          <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" ng-click="hidePrevModal()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <h4 class="modal-title">Pick which plane to go to next</h4>
               </div>
               <div class="modal-body" ng-repeat="card in prevCards">
                 <img ng-src="./Media/{{card}}.jpeg"/ ng-click="selectedCard({{card}})">
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="prevModal" ng-click="hidePrevModal()">Close</button>
               </div> -->
           <!-- </div> /.modal-content -->
         <!-- </div>/.modal-dialog -->
       <!-- </div> /.modal -->


  	  </div>
  	  <div class="float">
        <button class="btn" ng-click="planeswalk()">Next</button>
  	  </div>	
  	</div>
  	<div class="footer">
  	</div>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/lib/angular.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="JS/app.js"></script>
    <script src="JS/main.js"></script>
    <script src="JS/cardService.js"></script>
    <script src="app/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  </body>
</html>
