<!DOCTYPE html>
<html ng-app="planarApp">
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-controller="cardCtrl">
  	<div class="header">
      <div class="headerBlock" ng-click="roll()">
        <img ng-src="./Media/dice/{{dieFace}}.jpeg"/>
  	  </div>
    </div>
  	<div class="mainContainer">
  	  <div class="float">
        <button ng-click="previousPlane()">Prev.</button>
        <button ng-click="viewCurrent()">Current</button>
      </div>

  	  <div class="cardContainer">
        <img class="card" ng-src="./Media/{{planarDeck[viewPlane].cardID}}.jpeg"/>
        <img class="card" ng-show="hideSpatial" ng-src="./Media/{{planarDeck[spatialPlane2].cardID}}.jpeg"/>
  	  </div>
  	  <div class="float">
        <button ng-click="planeswalk()">Next</button>
        <button ng-show="hideSpatial" ng-click="viewSpatial1()">Show Spatial1</button>
         <button ng-show="hideSpatial" ng-click="viewSpatial2()">Show Spatial2</button>
  	  </div>	
  	</div>
  	<div class="footer">
  	</div>
    
    <script src="node_modules/angular/lib/angular.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="JS/app.js"></script>
    <script src="JS/main.js"></script>
    <script src="JS/cardService.js"></script>
  </body>
</html>
