<!DOCTYPE html>
<html ng-app="planarApp">
  <head>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-controller="cardCtrl" ng-init="selectedCards()">
    <ul ng-repeat="card in allCards">
      <li>
        <input type="checkbox" name="{{card.name}}" id="{{card.cardID" ng-model="card.checked" ng-change="selectedCards()">
        <label for="{{card.name}}">{{card.name}}</label>
      </li>
    </ul>

    {{planarDeck}}

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/lib/angular.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="JS/app.js"></script>
    <script src="JS/main.js"></script>
    <script src="JS/cardService.js"></script>
    <script src="app/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  </body>
</html>