
  	<div class="header">
      <div class="headerBlock" ng-click="roll()" id="dice">
        <img ng-src="./images/dice/{{dieFace}}.jpeg"/>
  	  </div>

      <div class="headerBlock" id="counter" ng-click="">
        <span class="counterText">{{counter}}</span>
        <div id="counterTop" ng-click="incCounter()">
          
        </div>
        <div id="counterBot" ng-click="decCounter()">
          
        </div>
      </div>

      <div ng-click="planeswalk()" id="pw">
        <img src="./images/pwSymbol.png"/>
      </div>

    </div>


  	<div class="mainContainer" >
  	  
      

      <div class="float">
        <div class="leftBtn" ng-click="viewPrevModal()">Prev.</div>
        <span class="cardsRem">Cards Left: {{planarDeck.length - 1}}</span>
        <div class="leftBtn" ng-click="toMainView()">To Main Page</div>
        
      </div>

        <img class="card" ng-show="!hideSpatial" ng-src="./images/{{planarDeck[0].cardID}}.jpeg"/>
        
        <img class="spatialCard" ng-show="hideSpatial" ng-src="./images/{{spatialPlane1.cardID}}.jpeg"/>
        <img class="spatialCard" ng-show="hideSpatial" ng-src="./images/{{spatialPlane2.cardID}}.jpeg"/>
        
        <div class="modal fade" id="prevModal">
          <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" ng-click="hidePrevModal()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <h4 class="modal-title">Previous Planes Since Shuffle</h4>
               </div>
               <div class="modal-body" ng-repeat="card in prevCards track by $index">             
                 <img ng-src="./images/{{card.cardID}}.jpeg"/>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="prevModal" ng-click="hidePrevModal()">Close</button>
               </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div class="modal fade" id="intTunnel">
          <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" ng-click="hidePrevModal()" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <h4 class="modal-title">Pick which plane to go to next</h4>
               </div>
               <div class="modal-body" ng-repeat="card in intTunnelCards">
                 <img ng-src="./images/{{card.cardID}}.jpeg"/ ng-click="selectedCard(card)">
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="prevModal" ng-click="hidePrevModal()">Close</button>
               </div> 
           </div> <!-- /.modal-content -->
          </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->


  	  
  	</div>
  	<div class="footer">
   
  	</div>
   