     <div class="cardList">
      <ul ng-repeat="card in allCards">
       <li ng-class="{selected: card.checked}">
         <label name="{{card.name}}" id="{{card.cardID" ng-model="card.checked" ng-click="selectedCards(card)" for="{{card.name}}" class="cardList">{{card.name}}</label>
       </li>
      </ul>
     </div>
     <div class="startContainer">
      
      <div class="startFooter">
        <div class="deckSize">Deck Size: {{planarDeck.length}}</div>
      </div>
      <div class="startCard">
        <img ng-src="./images/{{selectedCard.cardID}}.jpeg"/>
      </div>
      <div class="startFooter">
        <div ng-click="toGameView()" class="startBtn">Start Game</div>
      </div>
     </div>
    